//colors
$color-yellow: rgb(218, 170, 14);
$color-green: rgb(127, 236, 55);
$color-white:rgb(255, 255, 255); 
$color-lightgrey:rgb(212, 213, 216);
$color-lightgreen:rgb(170, 240, 113);
$color-blue:rgb(58, 107, 212);
$color-dark:rgb(49, 49, 48);
$color-lightred:rgb(255, 255, 255);

// fonts
$font-arial: Arial, Helvetica, Sans-Serif;
$font-sacramento: 'Sacramento', cursive;